:root {
    --dark-theme-highlight:  rgb(121, 29, 152);
    --light-theme-highlight: #1279c6;
}

.App {
    padding-top: 2.5em;
    padding-bottom: 5em;
}

.ResumeSection {
    padding-top: 2em;
}

.SkillLevels {
    padding-top: 2em;
    animation: fadein 500ms;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.SkillLevels-Loading {
    height: 132px;
}

.SkillLevels-Error {
    height: 0;
    animation: error-height 500ms;
}

@keyframes error-height {
    from {
        height: 132px;
    }
    to {
        height: 0;
    }
}

.Percentile-Bar {
    display: flex;
    height: 8px;
    outline-color: transparent;
    background-color: rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.Percentile-Bar-Item {
    outline-color: transparent;
    outline: 2px solid transparent;
    box-sizing: border-box;
}

.Percentile-Bar,
.Percentile-Bar .Percentile-Bar-Item:only-child {
    border-radius: 6px;
}


.SkillLevels-Descriptions {
    display: flex;
    justify-content: center;
    padding: 1em 0.5em;
    flex-wrap: wrap;
}

.Skill-Tag {
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.Skill-ColorTag {
    border-radius: 0.375em;
    margin-right: 0.3em;
    width: 0.75em;
    height: 0.75em;
    display: inline-block;
}

.Skill-NameTag {

}

.Skill-PercentageTag {
    color: rgba(0, 0, 0, 0.4);
    margin-left: 0.3em;
}

.SocialLinks {
    text-align: center;
}

a.nohighlight:not(:hover) {
    color: rgba(0, 0, 0, 0.87);
}

a:not(:hover) {
    color: var(--light-theme-highlight);
}

a.icon-link:not(:hover) {
    color: rgba(0,0,0,.4);
}

.Portrait {
    width: 4rem;
    height: 4rem;
}

@media only screen and (min-width: 768px) {
    .InfoCard-Wrapper {
        top: 2.5em;
        position: sticky;
    }
}

@media only screen and (max-width: 767px) {
    .InfoCard-Wrapper {
        position: relative;
        margin-bottom: 2em;
    }

    .ResumeSectionItem {
        margin-bottom: 3.2rem !important;
    }
}

@media only print {
    .App, .sub.header {
        font-size: 0.8rem !important;
    }
    .ResumeSection {
        padding-top: 1.5em;
    }
    .App {
        display: grid !important;
        grid-template-areas:
            "header card"
                "skills card"
                "skills education"
                "skills education"
                "working-experience certificates"
                "working-experience contact";
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 2.0rem;
        padding: 2.0rem;
    }

    .InfoCard-Wrapper {grid-area: card;}
    .InfoCard-Wrapper .extra.content { display: none }
    .ResumeHeader { grid-area: header; }
    .ResumeSection-Skills { grid-area: skills; }
    .ResumeSection-Education { grid-area: education; }
    .ResumeSection-Working-Experience { grid-area: working-experience; }
    .ResumeSection-Certificates { grid-area: certificates; }
    .ResumeSection-Contact { grid-area: contact; }
}
